# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app

# Visual Studio
.vs
.vscode

# Other

data/*
build/*
imgui.ini
*.json
*.log

dependencies/angelscript/*
dependencies/fmod/*
dependencies/SDL2/*
dependencies/glad/*
dependencies/fbxsdk/*